@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;

  @apply h-full;
  ::-webkit-scrollbar {
    width: 0px;
  }
}

:root {
  --header-height: 80px;
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
  --black-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  scroll-margin-top: 60px;
}

button,
p,
.Toastify__toast {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
