.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background: var(--bg-color);
}

@media (max-width: 640px) {
  .footer {
    padding: 1rem 1.5rem !important;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
}

@media (max-width: 1025px) {
  .footer {
    padding: 1rem 5rem;
  }
}
