.hero-section {
  background-image: url("/assets/Images/home.jpg");
  object-fit: contain;
  padding: 5rem 0;
  margin-top: 3.7rem;
}

.hero-heading {
  font-weight: 700;
  line-height: 1.3;
}

.btn-primary {
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn-primary:hover {
  background-color: var(--main-color);
  transform: translateY(-2px);
}

.fab,
.fas {
  border: 2px solid #0891b2;
  border-radius: 50%;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}
.fab:hover,
.fas:hover {
  background-color: #0891b2;
  color: white;
  transform: scale(1.1);
}

.outline-text {
  font-weight: 700;
  color: var(--bg-color);
  -webkit-text-stroke: 0.7px var(--main-color);
  background-color: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  animation: homeCursortext 6s linear infinite;
  animation-delay: 2s;
}

.typewriter {
  display: inline-block;
  border-right: 2.5px solid var(--main-color);
  height: auto !important;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60%,
  100% {
    transform: rotate(0deg);
  }
}

.hand {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s ease-in-out infinite;
}

@media (max-width: 640px) {
  .hero-section {
    padding-top: 2rem !important;
  }

  h2 {
    font-size: 10px !important;
  }

  .desc {
    font-size: 1.1rem !important;
    word-spacing: -1px;
  }

  .typewriter {
    line-height: 1;
    white-space: normal !important;
    font-size: 1rem !important;
  }
}
